@page "/pubtable"
@using BlazorAppWithDatabase.Data.Models
@using BlazorAppWithDatabase.Data.Services
@inject IPubService PubService
<!--Pass up to master page-->
<PageTitle>Pubs Table</PageTitle>

<h1>Pubs Table</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (pubs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pub in pubs)
        {
            <tr>
                <td>@pub.Id</td>
                <td>@pub.Name</td>
                <td>@pub.AddressLine2</td>
                <td>@pub.City</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Pub>? pubs;

    protected override async Task OnInitializedAsync()
    {
        pubs = await PubService.GetPubsAsync();
    }
}
